<!-- <div class="login-clean">
  <form method="post">
    <h2 class="sr-only">Login Form</h2>
    <div class="illustration">
      <img src="../../../assets/login2.png" alt="login" />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="email"
        name="email"
        placeholder="Email"
      />
    </div>
    <div class="form-group">
      <input
        class="form-control"
        type="password"
        name="password"
        placeholder="Password"
      />
    </div>
    <div class="form-group">
      <button class="btn btn-primary btn-block" type="submit">Sign up</button>
    </div>
    <a href="#" class="forgot">Forgot your email or password?</a>
  </form>
</div> -->
<!-- <div class="login-clean">
  <form (ngSubmit)="onSignIn(f)" #f="ngForm">
    <h2 class="sr-only">Login Form</h2>
    <div class="illustration">
      <img src="../../../assets/login2.png" alt="login" />
    </div>

    <div class="form-group">
      <label for="email">Mail</label>
      <input
        type="email"
        id="email"
        name="email"
        ngModel
        class="form-control"
      />
    </div>

    <div class="form-group">
      <label for="password">Password</label>
      <input
        type="password"
        id="password"
        name="password"
        ngModel
        class="form-control"
      />
    </div>
    <div class="form-group">
      <label for="password">Password Again</label>
      <input
        type="password"
        id="password_repeat"
        name="password-again"
        ngModel
        class="form-control"
      />
    </div>

    <button
      class="btn btn-primary btn-block"
      type="submit"
      [disabled]="!f.valid"
    >
      Sign Up
    </button>
  </form>
</div> -->
